    <div class="stage-choice" data-choice="<%= stage_path(stage.id) %>" stage-id='<%= stage.id %>' >
      <span class="stage-title"><%= stage.title %></span>&nbsp;&nbsp;
      <span class="stage-group"><%= stage.group %></span><br>
      <span class="stage-detail">
        <%= stage.term %><br>
        <%= stage.theater %>&nbsp;&nbsp;
      </span>
      <%= link_to "", "", class: "glyphicon icon-link star " + glyphicon_star(stage.id) %>
    </div>
