
<%= render 'counter' %>

<% keydate = '' %>
<% @stages.each do |stage| %>
<%   if keydate != stage.startdate %>
    <div style="font-size:1.4em; background-color: lightgreen; color: white; padding: 0.2em; margin: 0.5em 0em;">
      <%= datejapan(stage.startdate) %>
    </div>
    <%  keydate = stage.startdate %>
<%   end %>
    <div class="stage-choice" data-choice="<%= stage_path(stage.id) %>">
      <span style="font-size:1.2em;"><%= stage.title %></span>&nbsp;&nbsp;
      <span style="font-size:1em; color: #444;"><%= stage.group %></span><br>
      <div style="font-size:1em; color: #999;">
        <%= datejapan_short(stage.startdate) %>～ <%= datejapan_short(stage.enddate) %>&nbsp;&nbsp;
        <%= stage.theater %>&nbsp;&nbsp;&nbsp;
        <span><%= link_to "", root_path, class: "glyphicon glyphicon-star-empty icon-link" %></span>
        <span><%= link_to "", root_path, class: "glyphicon glyphicon-envelope icon-link" %></span>
      </div>
    </div>
      
<% end %>

<%= render 'counter' %>

<div style="text-align: center">
<%= paginate @stages %>
</div>