
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="signup">
  <%= link_to "新規ユーザー登録", signup_path, class: "btn btn-info" %>
  <%= link_to "ログイン", login_path, class: "btn btn-info" %>
</div>

<%= render 'counter' %>

<%= @debug %>

<% keydate = '' %>
<% @stages.each do |stage| %>
<%   if keydate != stage.startdate %>
    <div class="stagelist-title">
      <%= datejapan(stage.startdate) %>
    </div>
    <%  keydate = stage.startdate %>
<%   end %>
    <div class="stage-choice" data-choice="<%= stage_path(stage.id) %>" stage-id="<%= stage.id %>"
         stage-title="<%= stage.title %>" stage-group="<%= stage.group %>"
         stage-term="<%= datejapan(stage.startdate) %>～ <%= datejapan(stage.enddate) %><br>"
         stage-theater="<%= stage.theater %>">
      <span class="stage-title"><%= stage.title %></span>&nbsp;&nbsp;
      <span class="stage-group"><%= stage.group %></span><br>
      <span class="stage-detail">
        <%= datejapan_short(stage.startdate) %>～ <%= datejapan_short(stage.enddate) %><br>
        <%= stage.theater %>&nbsp;&nbsp;
      </span>
      <%= link_to "", "", class: "glyphicon icon-link star " + @star_class[stage.id] %>
      <%= link_to "", "", class: "glyphicon glyphicon-envelope icon-link-mail" %>

    </div>
      
<% end %>

<%= render 'counter' %>

<div style="text-align: center">
<%= paginate @stages %>
</div>
