
<%= render 'shared/header_signup' %>

<%= render 'counter' %>

<%= @debug %>

<div class="tips tips-head">
  観たい・気になる公演の☆マークをつけると、その公演のスケジュールがカレンダー（右上のアイコン）に登録されます！ 
  &nbsp;<%= link_to "ヘルプ", help_path %>
</div>

<%= link_to "上演中", stages_playing_path, 
    class: 'stagenavi-playing' + stagenavi_onoff('playing') %> 
<%= link_to "今週〜", stages_thisweek_path,
    class: 'stagenavi-thisweek' + stagenavi_onoff('thisweek') %>
<%= link_to '#', #stages_later_path,
    class: 'stagenavi-later' + stagenavi_onoff('later') do %>
    来週以降〜&nbsp;<span class="glyphicon glyphicon-chevron-down" style="font-size: 0.8em"></span>
<% end %>

<ul class="later-list">
<% @stages_on_weeks.each do |stage_on_week| %>
    <li>
        <%= link_to stage_on_week[:firstday].strftime('%Y-%m-%d') + "〜" + 
            (stage_on_week[:firstday] + 6).strftime('%Y-%m-%d') + " (" + stage_on_week[:size].to_s + "件)",
            "/stages/later?start=" + stage_on_week[:firstday].strftime('%Y%m%d') %>
    </li>
<% end %>
</ul>

<%= render 'stagelist_area' %>
