
<%= render 'counter' %>

<% keydate = '' %>
<% @stages.each do |stage| %>
<%   if keydate != stage.startdate %>
    <div class="stagelist-title">
      <%= datejapan(stage.startdate) %>
    </div>
    <%  keydate = stage.startdate %>
<%   end %>
    <div class="stage-choice" data-choice="<%= stage_path(stage.id) %>" stage-id="<%= stage.id %>">
      <span class="stage-title"><%= stage.title %></span>&nbsp;&nbsp;
      <span class="stage-group"><%= stage.group %></span><br>
      
      <span class="stage-detail">
        <%= datejapan_short(stage.startdate) %>～ <%= datejapan_short(stage.enddate) %><br>
        <%= stage.theater %>&nbsp;&nbsp;
      </span>
      <%= link_to "", "javascript:void(0);", class: "glyphicon glyphicon-star-empty icon-link star" %>
      <%= link_to "", root_path, class: "glyphicon glyphicon-envelope icon-link-mail" %>

    </div>
      
<% end %>

<%= render 'counter' %>

<div style="text-align: center">
<%= paginate @stages %>
</div>