
<%= render 'counter' %>

<% keydate = '' %>
<% @stages.each do |stage| %>
<%   if keydate != stage.startdate %>
    <div class="stagelist-title">
      <%= datejapan(stage.startdate) %>
    </div>
    <%  keydate = stage.startdate %>
<%   end %>
    <div class="stage-choice" data-choice="<%= stage_path(stage.id) %>" stage-id="<%= stage.id %>"
         stage-title="<%= stage.title %>" stage-group="<%= stage.group %>"
         stage-term="<%= datejapan(stage.startdate) %>～ <%= datejapan(stage.enddate) %><br>"
         stage-theater="<%= stage.theater %>">
      <span class="stage-title"><%= stage.title %></span>&nbsp;&nbsp;
      <span class="stage-group"><%= stage.group %></span><br>
      <span class="stage-detail">
        <%= datejapan_short(stage.startdate) %>～ <%= datejapan_short(stage.enddate) %><br>
        <%= stage.theater %>&nbsp;&nbsp;
      </span>
      <%= link_to "", "", class: "glyphicon glyphicon-star-empty icon-link star" %>
      <%= link_to "", "", class: "glyphicon glyphicon-envelope icon-link-mail" %>

    </div>
      
<% end %>

<%= render 'counter' %>

<div style="text-align: center">
<%= paginate @stages %>
</div>

<div id="popup">
  <div class="close_overlay"></div>
  <div class="popup-window">
    <div class="popup-close">×</div>
    <div class="popup-alert">この公演が始まる前に、通知メールをもらおう！</div>
    <div class="popup-stageinfo">
      <div id="popup-title"></div>
      <div id="popup-group"></div>
      <div id="popup-term"></div>
      <div id="popup-theater"></div>
      <br><br>
      
      <%= form_for(@alert, url: {controller: 'alerts', action: 'create'}) do |f| %>
      
      <p>通知メール用のメールアドレスを入力してください。</p>
      <p>
        <%= f.text_field :email, class: "popup-email" %>
      </p>
      
      <p>通知メールを送る日にちを指定してください。</p>
      <p>
        <%= f.check_box :seven_days, {}, "true", "false" %>
        <span class="alert-text">初日の7日前</span>
        <%= f.check_box :three_days, {}, 'true', 'false' %>
        <span class="alert-text">初日の3日前</span>
        <%= f.check_box :one_day, {checked: true}, 'true', 'false' %>
        <span class="alert-text">初日の1日前</span>
      </p>
      
      <% end %>
      
    </div>

  </div>
</div>