
<%= # render 'shared/header_signup'
%>

<%= render 'counter' %>

<%= @debug %>

<!--
<div class="tips tips-head">
  観たい・気になる公演の☆マークをつけると、その公演のスケジュールがカレンダー（右上のアイコン）に登録されます！ 
  &nbsp;<%= link_to "ヘルプ", help_path %>
</div>
-->
<div class="select_area">
    <span class="select_area--east<%= (@area == Constants::AREA_KANTO ? ' select_area--active': '') %>">関東</span>
    <span class="select_area--west<%= (@area == Constants::AREA_KINKI ? ' select_area--active': '') %>">関西</span>
</div>
<%= link_to "上演中", stages_playing_path, 
    class: 'stagenavi-playing' + stagenavi_onoff('playing') %> 
<%= link_to "今週〜", stages_thisweek_path,
    class: 'stagenavi-thisweek' + stagenavi_onoff('thisweek') %>
<%= link_to '#', #stages_later_path,
    class: 'stagenavi-later' + stagenavi_onoff('later') do %>
    来週以降〜&nbsp;<span class="glyphicon glyphicon-chevron-down" style="font-size: 0.8em"></span>
<% end %>

<ul class="later-list" id="later-list-1">
<% latermax = 5 %>
<% count = 0    %>
<% @stages_on_weeks.each do |stage_on_week| %>
    <li>
        <%= link_to stage_on_week[:firstday].strftime('%Y-%m-%d') + "〜" + 
            (stage_on_week[:firstday] + 6).strftime('%Y-%m-%d') + " (" + stage_on_week[:size].to_s + "件)",
            "/stages/later?start=" + stage_on_week[:firstday].strftime('%Y%m%d') %>
        <% count+=1 %>
        <% break if count > latermax %>
    </li>
<% end %>
<% if @stages_on_weeks.count > count %>
    <li><a href="" id="later-list-more">もっとみる..</a></li>
<% end %>
</ul>

<ul class="later-list" id="later-list-2">
<% @stages_on_weeks.each do |stage_on_week| %>
    <li>
        <%= link_to stage_on_week[:firstday].strftime('%Y-%m-%d') + "〜" + 
            (stage_on_week[:firstday] + 6).strftime('%Y-%m-%d') + " (" + stage_on_week[:size].to_s + "件)",
            "/stages/later?start=" + stage_on_week[:firstday].strftime('%Y%m%d') %>
    </li>
<% end %>
</ul>
<br />
<%= render 'stagelist_area' %>

<div class="footer-navi">
  <%= prevweek_link %>
  <%= nextweek_link %>
</div>