
<%= render 'shared/header_signup' %>

<%= render 'counter' %>

<%= @debug %>

<div class="tips tips-head">
  観たい・気になる公演の☆マークをつけると、その公演のスケジュールがカレンダー（右上のアイコン）に登録されます！
</div>

<%= link_to "上演中", stages_playing_path, 
    class: 'stagenavi-playing' + stagenavi_onoff('playing') %> 
<%= link_to "今週〜", stages_thisweek_path,
    class: 'stagenavi-thisweek' + stagenavi_onoff('thisweek') %>
<%= link_to "来週以降〜", stages_later_path,
    class: 'stagenavi-later' + stagenavi_onoff('later') %>

<div id="stagelist_area">
<% keydate = '' %>
<% @stages.each do |stage| %>
<%   if keydate != stage.startdate %>
    <div class="stagelist-title <%= stagelist_title_class %>" data-startdate="<%= stage.startdate %>">
      <%= datejapan(stage.startdate) %><span class="stagelist-tilde">〜</span>
    </div>
    <% keydate = stage.startdate %>
<%   end %>
    <%= render 'stage', stage: stage %>
<% end %>
</div>
<br>
<div style="text-align: center;" id="loading"></div>

<form><input type="text" id="pages" value="" style="display: none"></form>
<div id="page_readed" style="display: none"></div>

<%= render 'popup' %>