
<div id="popup-title"><%= @stage.title %></div>
<span id="popup-group"><%= @stage.group %></span><br>
<div id="popup-term"><%= datejapan(@stage.startdate) %>～ <%= datejapan(@stage.enddate) %></div>
<div id="popup-theater"><%= @stage.theater %></div>

<!--
<div style="font-size:1.0em; color: #999;">
  詳しい情報は<%= link_to 'こちら', 'http://stage.corich.jp' + @stage.url,
                  target: '_blank',
                  rel: 'noreferrer' %>
</div>
-->

<% unless @stage_detail.nil? %>

<% if is_visible?(@stage_detail.playwright) %>
<div class="detail-title">脚本</div>
<div class="detail-content"><%= @stage_detail.playwright %></div>
<% end %>

<% if is_visible?(@stage_detail.director) %>
<div class="detail-title">演出</div>
<div class="detail-content"><%= @stage_detail.director %></div>
<% end %>

<% if is_visible?(@stage_detail.cast) %>
<div class="detail-title">出演</div>
<div class="detail-content"><%= @stage_detail.cast %></div>
<% end %>

<% if is_visible?(@stage_detail.price) %>
<div class="detail-title">チケット</div> 
<div class="detail-content"><%= @stage_detail.price.html_safe %></div>
<% end %>

<% if is_visible?(@stage_detail.timetable) %>
<div class="detail-title">タイムテーブル</div>
<div class="detail-content"><%= @stage_detail.timetable.html_safe %></div>
<% end %>

<% if is_visible?(@stage_detail.site) %>
<div class="detail-title">公式サイト</div>
<div class="detail-content">
  <%= link_to @stage_detail.site, @stage_detail.site, target: '_blank' %>
  <br>
  <span style="color: blue;">最新の情報は公式サイトにてご確認ください。</span>  
</div>
<% end %>

<% end %>

<% if logged_in? %>
  <% if @stage.startdate <= Date.today %>
    <br>
    <span style="color: #888;">この公演は初日を迎えたものなので、初日より前にアラートメールを送る機能は無効になります。</span>
  <% else %>
<section>
  div class="alert-on-notlogin">
    <%= form_for(@alert, url: {controller: 'alerts', action: 'create'}) do |f| %>
    
    <%= f.hidden_field :stage_id, value: @stage.id %>
    <span class="popup-alert">公演が始まる前に通知でお知らせを受けたい場合は、以下をチェックして「メールで通知する」ボタンを押してください！</span>
    <br><br>
    <p>
      <%= f.check_box :seven_days, {}, "true", "false" %>
      <span class="alert-text">初日の7日前</span><br>
      <%= f.check_box :three_days, {}, 'true', 'false' %>
      <span class="alert-text">初日の3日前</span><br>
      <%= f.check_box :one_day, {checked: true}, 'true', 'false' %>
      <span class="alert-text">初日の1日前</span><br>
    </p>
    <%= f.submit "メールで通知する", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>
  <% end %>
  
<% else %>
  <br>
  <div class="tips">
    公演が始まる前に通知でお知らせを受けたい場合は、ログインしてください！
  </div>
<% end %>
