
<div id="popup-title"><%= @stage.title %></div>
<span id="popup-group"><%= @stage.group %></span><br>
<div id="popup-term"><%= datejapan(@stage.startdate) %>～ <%= datejapan(@stage.enddate) %></div>
<div id="popup-theater"><%= @stage.theater %></div>

<!--
<div style="font-size:1.0em; color: #999;">
  詳しい情報は<%= link_to 'こちら', 'http://stage.corich.jp' + @stage.url,
                  target: '_blank',
                  rel: 'noreferrer' %>
</div>
-->

<% if logged_in? %>
<section>
  <div class="alert-on-notlogin">
    <%= form_for(@alert, url: {controller: 'alerts', action: 'create'}) do |f| %>
    
    <%= f.hidden_field :stage_id, value: @stage.id %>
    <span class="popup-alert">公演が始まる前に通知でお知らせを受けたい場合は、以下をチェックして「メールで通知する」ボタンを押してください！</span>
    <br><br>
    <p>
      <%= f.check_box :seven_days, {}, "true", "false" %>
      <span class="alert-text">初日の7日前</span><br>
      <%= f.check_box :three_days, {}, 'true', 'false' %>
      <span class="alert-text">初日の3日前</span><br>
      <%= f.check_box :one_day, {checked: true}, 'true', 'false' %>
      <span class="alert-text">初日の1日前</span><br>
    </p>
    <%= f.submit "メールで通知する", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>
<% else %>
  <br>
  <span class="popup-alert">公演が始まる前に通知でお知らせを受けたい場合は、ログインしてください！</span>
<% end %>
