
<%= render 'shared/error_messages' %>

<div id="popup-title"><%= @stage.title %></div>
<span id="popup-group"><%= @stage.group %></span><br>
<div id="popup-term"><%= datejapan(@stage.startdate) %>～ <%= datejapan(@stage.enddate) %></div>
<div id="popup-theater"><%= @stage.theater %></div>

<!--
<div style="font-size:1.0em; color: #999;">
  詳しい情報は<%= link_to 'こちら', 'http://stage.corich.jp' + @stage.url,
                  target: '_blank',
                  rel: 'noreferrer' %>
</div>
-->

<div class="popup-alert">メールアドレスを登録すると、指定した日に通知メールが届きます！</div>

<section>
  <div class="alert-on-notlogin">
    <%= form_for(@alert, url: {controller: 'alerts', action: 'create'}) do |f| %>
    <div style="width: 100%">
      メールアドレス
      <p style="position:relative">
        <%= f.text_field :email, class: "popup-email", placeholder: "email@example.com" %>
      </p>
    </div>
    <%= f.hidden_field :stage_id, value: @stage.id %>
    <span>いつ通知メールを送りますか？</span>
    <!-- <p class="alert-indent"> -->
    <p>
      <%= f.check_box :seven_days, {}, "true", "false" %>
      <span class="alert-text">初日の7日前</span><br>
      <%= f.check_box :three_days, {}, 'true', 'false' %>
      <span class="alert-text">初日の3日前</span><br>
      <%= f.check_box :one_day, {checked: true}, 'true', 'false' %>
      <span class="alert-text">初日の1日前</span><br>
    </p>
    <%= f.submit "OK", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>

