<!DOCTYPE html>
<html>
  <head>
    <title>play alert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "PLAY ALERT", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "", root_path, class: "glyphicon glyphicon-home nav-link" %>
            <%= link_to "", "javascript:void(0);", class: "glyphicon glyphicon-question-sign nav-link popup-help-info" %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div id="help-info">
        PLAY ALERT は、<br>観たい公演を選んでメールアドレスを登録すると、<br>
        その公演が始まる前に通知メールでお知らせする<br>Webサービスです。<br>
      </div>
    <%= yield %>
    </div>
    
  </body>
</html>
