<!DOCTYPE html>
<html>
  <head>
    <title>PLAY ALERT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "PLAY ALERT", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "", root_path, class: "glyphicon glyphicon-home nav-link" %>
            <%= link_to "", calendar_path, class: "glyphicon  glyphicon-calendar nav-link" %>
            <!-- <%= link_to "", help_path, class: "glyphicon glyphicon-question-sign nav-link" %> -->
            <!-- <div class="glyphicon glyphicon-user nav-link" id="usermenu_dropdown" style="display: inline;"></div> -->
            <%= link_to "", stage_search_path, class: "glyphicon glyphicon-search nav-link" %>
          </ul>
        </nav>
      </div>
      
      <div id="user_menu">
        <ul class="user_dropdown">
          <% if logged_in? %>
            <li><%= current_user.name %>さん、こんにちは！</li>
            <li class="user_dropdown_list"><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
            <li class="user_dropdown_list"><%= link_to "ログイン", login_path %></li>
            <li class="user_dropdown_list"><%= link_to "新規ユーザー登録", signup_path %></li>
          <% end %>
          <li class="user_dropdown_list"><%= link_to "ヘルプ", help_path %></li>
        </ul>
      </div>
    </header>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
