<!DOCTYPE html>
<html>
  <head>
    <title>PLAY ALERT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "PLAY ALERT", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "", root_path, class: "glyphicon glyphicon-home nav-link" %>
            <%= link_to "", calendar_path, class: "glyphicon  glyphicon-calendar nav-link" %>
            <!-- <%= link_to "", help_path, class: "glyphicon glyphicon-question-sign nav-link" %> -->
            <span class="glyphicon glyphicon-user nav-link" id="usermenu_dropdown"></span>
            <!--
            <% if logged_in? %>
              <span class="glyphicon glyphicon-user nav-link" id="usermenu_dropdown"></span>
            <% else %>
            <% end %>
            -->
          </ul>
        </nav>
      </div>
      
    <div id="user_menu">
      <% if logged_in? %>
        <ul class="user_dropdown">
          <li><%= current_user.name %>さん、こんにちは！</li>
          <li class="user_dropdown_list"><%= link_to "ユーザー設定", '#' %></li>
          <li class="user_dropdown_list"><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="user_dropdown">
          <li class="user_dropdown_list"><%= link_to "ログイン", login_path %></li>
          <li class="user_dropdown_list"><%= link_to "新規ユーザー登録", signup_path %></li>
        </ul>
      <% end %>
    </div>

    </header>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% if message_type == 'sucess' %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= render "shared/error_messages_flash" %>

    <%= yield %>
    </div>

  </body>
</html>
