<!DOCTYPE html>
<html>
  <head>
    <title>PLAY ALERT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
    <!--<header class="navbar navbar-top">-->
      <div class="container">
        <%= link_to "PLAY ALERT", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "", root_path, class: "glyphicon glyphicon-home nav-link" %>
            <%= link_to "", calendar_path, class: "glyphicon  glyphicon-calendar nav-link" %>
            <%= link_to "", help_path, class: "glyphicon glyphicon-question-sign nav-link" %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
    <%= yield %>
    </div>
    
  </body>
</html>
